#--------------------------#
# Magento Default Files    #
#--------------------------#

gittest/app/etc/local.xml

gittest/media/*
!gittest/media/.htaccess

!gittest/media/customer
gittest/media/customer/*
!gittest/media/customer/.htaccess

!gittest/media/dhl
gittest/media/dhl/*
!gittest/media/dhl/logo.jpg

!gittest/media/downloadable
gittest/media/downloadable/*
!gittest/media/downloadable/.htaccess

!gittest/media/xmlconnect
gittest/media/xmlconnect/*

!gittest/media/xmlconnect/custom
gittest/media/xmlconnect/custom/*
!gittest/media/xmlconnect/custom/ok.gif

!gittest/media/xmlconnect/original
gittest/media/xmlconnect/original/*
!gittest/media/xmlconnect/original/ok.gif

!gittest/media/xmlconnect/system
gittest/media/xmlconnect/system/*
!gittest/media/xmlconnect/system/ok.gif

gittest/var/*
!gittest/var/.htaccess

!gittest/var/package
gittest/var/package/*
!gittest/var/package/*.xml

